* ,
*::after ,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E1E1E;
}

.container-fluid {
    width: 100%;
    height: 100vh;
}

.header-Weather {
    display: flex;
    padding-top: 30px;
}

.header-Weather div svg {
    width: 67px;
    height: 48px;
    margin-top: -10px;
    transform: translate(10px);
    -webkit-transform: translate(10px);
    -moz-transform: translate(10px);
    -ms-transform: translate(10px);
    -o-transform: translate(10px);
}

.header-Weather div h2 {
    color: #FFFFFF;
    font-size: 45px;
    font-weight: bold;
}

.header-Weather div p {
    color: #FFFFFF;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}

.search {
    width: 711px;
    height: 66px;
    margin-top: 50px !important;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9 !important;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.search input {
    width: 550px;
    height: 35px;
    padding-left: 20px;
    font-size: 20px;
    background-color: #D9D9D9;
    border: none;
    outline: none;
}

.search>input:-webkit-autofill,
.search>input:-webkit-autofill:hover,
.search>input:-webkit-autofill:focus,
.search>input:-webkit-autofill:active,
.search>input:-internal-autofill-selected {
    box-shadow: inset 0 0 200px #D9D9D9; 
}

/* Firefox autofill styling */
.search>input:-moz-autofill,
.search>input:-moz-autofill:hover,
.search>input:-moz-autofill:focus,
.search>input:-moz-autofill:active {
    box-shadow: inset 0 0 200px #D9D9D9;
}

/* Edge autofill styling */
.search>input:-ms-input-placeholder {
    box-shadow: inset 0 0 2 00px #D9D9D9;
}

.box-show-Weather {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.box-show-Weather .content {
    width: 817px;
    height: 350px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(130deg, #AD36CB 27%, #333333 69%);
    box-shadow: 0px 4px 4px 0 rgba(253, 245, 245, 0.25);
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}

.box-show-Weather .content .title p {
    display: inline;
    font-size: 25px;
    color: #FFFFFF;
    vertical-align: top;
}

.box-show-Weather .content .title svg {
    width: 30px;
    height: 30px;
}

.box-show-Weather .content .center {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 20px;
}

.box-show-Weather .content .center h2 {
    color: #F2F1F1;
    font-size: 35px;
}

.box-show-Weather .content .bottom {
    display: flex;
    justify-content: space-between;
}

.box-show-Weather .content .bottom .item p{
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
}

.box-show-Weather .content .bottom .item p:nth-child(1) {
    padding: 10px;
}